
@{
    ViewBag.Title = "Index";
}


<style>
.btn-link {
    font-weight: 400;
    color: #000000;
    border-radius: 0;
}
.btn-link:focus, .btn-link:hover {
    color: #000080;
    text-decoration: underline;
    background-color: transparent;
}

</style>

<style>
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.biru{
    color:#000080;
    font-weight:bold;
}
.birutext{
    color:#000080;
}
.birubg{
    background-color:#000080;
    color:white;
}
.merahbg{
    background-color:#A92E13;
    color:white;
}
.biruwoy{
    background-color:#000080;
    color:white;
}
.biruwoy:hover{
    background-color:blue;
}
.orenwoy{
    background-color:orangered;
    color:white;
}
.orenwoy:hover{
    background-color:red;
}
.merahwoy{
    background-color:#A92E13;
    color:white;
}
.merahwoy:hover{
    background-color:red;
    color:white;
}
.table{
    color:#000080;
}
.lebarwoy{
    position:center;
    width:800px;
}
.tengahwoy{
    padding-right:800px;
}
.tengahpls{
    background-color:none;
    padding-top:150px;
    width:500px;
}
.lebarpls{
    margin-left:50px;
    width:500px;
    height:400px;
}
.merahtext{
    color:#A92E13;
}
</style>

<style>
.widget-menu>li>a:hover {
    background-color: #eee;
    color: #000080;
}
</style>

<div class="table-responsive" style="height:600px">
    <table class="table table-striped">
        <thead>
            <tr style="border-bottom: 3px solid #000080">
                <td colspan="4">
                    <button type="button" class="btn btn-success" id="idBtnIndexOrganisasi">Pop Up Index Organisasi</button><h4 class="biru">Organisasi<button type="button" class="btn btn-link" id="idBtnCreateOrganisasi"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button></h4>
                </td>
            </tr>
            <tr class="biru" style="border-bottom: 3px solid #000080">
                <td>NAMA</td>
                <td>JABATAN</td>
                <td>PERIODE</td>
                <td>#</td>
            </tr>
        </thead>
        <tbody id="idTblBodyOrganisasi"></tbody>
    </table>
</div>

<div class="modal fade" id="idMdlIndexOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color: white; opacity:1;">
                    Detil Pelamar
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity:1;">x</button>*@
                    <button class="pull-right" id="idBtnCloseIndexOrganisasi" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>
            </div>
            <div class="modal-body" id="idBodyIndexOrganisasi" style="margin-left: 10px;">

                <div class="row">
                    <div class="col-lg-3 sidebar">
                        <ul class="widget widget-menu unstyled batas-atas batas-bawah" style="background-color: white; border-style: solid; border-width: 1px;border-color:#000066;">
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages01">
                                    Profil
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages02">
                                    Biodata
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages03">
                                    Pengalaman Kerja
                                </a>
                            </li>
                            <li>
                                <a class="collapsed center-block" data-toggle="collapse" href="#togglePages03">
                                    Pendidikan
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages05">
                                    Pelatihan
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages06">
                                    Sertifikasi
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages07">
                                    Sumber Lowongan Kerja
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages01">
                                    Organisasi
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages02">
                                    Biodata
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages03">
                                    Keluarga
                                </a>
                            </li>
                            <li>
                                <a class="collapsed center-block" data-toggle="collapse" href="#togglePages03">
                                    Keahlian
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages05">
                                    Lain-Lain
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages06">
                                    Dokumen
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages07">
                                    Catatan
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages05">
                                    Aktifasi Akun
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages06">
                                    Lihat Tes
                                </a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages07">
                                    Hasil Tes
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 table-responsive" style="height:600px">
                        <table class="table table-striped">
                            <thead>
                                <tr style="border-bottom: 3px solid #000080">
                                    <td colspan="4">
                                        <h4 class="biru">Organisasi<button type="button" class="btn btn-link" id="idBtnMdlCreateOrganisasi"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button></h4>
                                    </td>
                                </tr>
                                <tr class="biru" style="border-bottom: 3px solid #000080">
                                    <td>NAMA</td>
                                    <td>JABATAN</td>
                                    <td>PERIODE</td>
                                    <td>#</td>
                                </tr>
                            </thead>
                            <tbody id="idTblMdlBodyOrganisasi"></tbody>
                        </table>
                    </div>
                </div>


                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="idMdlCreateOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content lebarpls">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color: white; opacity:1;">
                    Tambah Organisasi 
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity:1;">x</button>*@
                    <button class="pull-right" id="idBtnCloseCreateOrganisasi" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>
            </div>
            <div class="modal-body" id="idBodyCreateOrganisasi" style="margin-left: 10px;">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="idMdlEditOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content lebarpls">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color: white; opacity:1;">
                    Ubah Organisasi
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity:1;">x</button>*@
                    <button class="pull-right" id="idBtnCloseEditOrganisasi" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>
            </div>
            <div class="modal-body" id="idBodyEditOrganisasi" style="margin-left: 10px;">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="idMdlHapusOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content">
            <div class="modal-header merahbg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Hapus Organisasi ?</h4>
            </div>
            <div class="modal-body" id="idBodyHapusOrganisasi">

                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="idIndexMdlCreateOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content lebarpls">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color: white; opacity:1;">
                    Tambah Organisasi
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity:1;">x</button>*@
                    <button class="pull-right" id="idBtnCloseCreateOrganisasiIndex" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>
            </div>
            <div class="modal-body" id="idBodyMdlCreateOrganisasi" style="margin-left: 10px;">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="idIndexMdlEditOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content lebarpls">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color: white; opacity:1;">
                    Ubah Organisasi
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity:1;">x</button>*@
                    <button class="pull-right" id="idBtnCloseEditOrganisasiIndex" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>
            </div>
            <div class="modal-body" id="idBodyMdlEditOrganisasi" style="margin-left: 10px;">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="idIndexMdlDeleteOrganisasi" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content">
            <div class="modal-header merahbg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Hapus Organisasi ?</h4>
            </div>
            <div class="modal-body" id="idBodyMdlDeleteOrganisasi">

                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('#idBtnCloseCreateOrganisasi').click(function () {
        $('#idMdlCreateOrganisasi').close;
        location.reload();
    });

    $('#idBtnCloseEditOrganisasi').click(function () {
        $('#idMdlEditOrganisasi').close;
        location.reload();
    });

    $('#idBtnCloseIndexOrganisasi').click(function () {
        $('#idMdlIndexOrganisasi').close;
        location.reload();
    });

    $('#idBtnCloseCreateOrganisasiIndex').click(function () {
        $('#idIndexMdlCreateOrganisasi').close;
        location.reload();
    });

    $('#idBtnCloseEditOrganisasiIndex').click(function () {
        $('#idIndexMdlEditOrganisasi').close;
        location.reload();
    });

    var biodata_id = 1;
    $(document).ready(function () {
        var vStrHtml = '';
        var biodata_id_mdl = 1;
        $('#idBtnIndexOrganisasi').click(function () {
            debugger;
            $('#idTblMdlBodyOrganisasi').empty();
            var vStrMdlHtml = '';
            $.ajax({
                url: '/Organisasi/Tampil',
                data: { idBiodata: biodata_id_mdl },
                method: 'Get',
                success: function (org) {
                    debugger;

                    
                    $.each(org, function (index, data) {
                        debugger;
                        if (data.entry_year == data.exit_year) {
                            data.exit_year = '';
                        }
                        else {
                            data.exit_year = ' s.d ' + data.exit_year;
                        }

                        vStrMdlHtml = vStrMdlHtml + '<tr>' +
                            '<td style="border-top: 1px solid #000080">' + data.name + '</td>' +
                            '<td style="border-top: 1px solid #000080">' + data.position + '</td>' +
                            '<td style="border-top: 1px solid #000080">' + data.entry_year + data.exit_year + '</td>' +
                            '<td class="dropdown" style="border-top: 1px solid #000080">' +
                            '<button class="btn birubg dropdown-toggle" type="button" data-toggle="dropdown">More &nbsp;' +
                            '<span class="caret"></span>' +
                            '</button>' +
                            '<ul class="dropdown-menu">' +
                            '<li><a class="ClBtnMdlUbahOrganisasi" dataIDmdl="' + data.id + '" href="#">Ubah</a></li>' +
                            '<li><a class="ClBtnMdlHapusOrganisasiConfirm" dataIDmdl="' + data.id + '" href="#">Hapus</a></li>' +
                            '</ul>' +
                            '</td>' +
                            '</tr>';
                        
                    });
                    

                    $('#idTblMdlBodyOrganisasi').append(vStrMdlHtml);
                    

                    $('#idMdlIndexOrganisasi').modal('show');


                    $('.ClBtnMdlUbahOrganisasi').click(function () {
                        var vDataID = parseInt($(this).attr('dataIDmdl'));
                        debugger;

                        $.ajax({
                            url: '/Organisasi/EditIndex',
                            data: { ID: vDataID },
                            method: 'Post',
                            success: function (mdl) {
                                $('#idBodyMdlEditOrganisasi').empty();
                                $('#idBodyMdlEditOrganisasi').append(mdl);
                                $('#idgetmdl').val(vDataID);
                                $('#idIndexMdlEditOrganisasi').modal('show');
                                debugger;
                            },
                            error: function (mdl) {
                                debugger;
                            }
                        });
                    });

                    $('.ClBtnMdlHapusOrganisasiConfirm').click(function () {
                        var vDataID = parseInt($(this).attr('dataIDmdl'));
                        debugger;
                        $.ajax({
                            url: '/Organisasi/DeleteConfirmIndex',
                            data: { ID: vDataID },
                            method: 'Post',
                            success: function (mdl) {
                                $('#idBodyMdlDeleteOrganisasi').empty();
                                $('#idBodyMdlDeleteOrganisasi').append(mdl);
                                $('#idgetmdl').val(vDataID);
                                $('#idIndexMdlDeleteOrganisasi').modal('show');
                                debugger;
                            },
                            error: function (mdl) {
                                debugger;
                            }
                        });
                    });

                },
                error: function (org) {
                    debugger;
                }
            });
        });

        $.ajax({
            url: '/Organisasi/Tampil',
            method: 'Get',
            data: { idBiodata: biodata_id },
            success: function (mdl) {
                debugger;

                $.each(mdl, function (i, d) {
                    debugger;
                    if (d.entry_year == d.exit_year) {
                        d.exit_year = '';
                    }
                    else {
                        d.exit_year = ' s.d ' + d.exit_year;
                    }

                    vStrHtml = vStrHtml + '<tr>' +
                        '<td style="border-top: 1px solid #000080">' + d.name + '</td>' +
                        '<td style="border-top: 1px solid #000080">' + d.position + '</td>' +
                        '<td style="border-top: 1px solid #000080">' + d.entry_year + d.exit_year + '</td>' +
                        '<td class="dropdown" style="border-top: 1px solid #000080">' +
                        '<button class="btn birubg dropdown-toggle" type="button" data-toggle="dropdown">More &nbsp;' +
                        '<span class="caret"></span>' +
                        '</button>' +
                        '<ul class="dropdown-menu">' +
                        '<li><a class="UbahOrganisasi" dataID="' + d.id + '" href="#">Ubah</a></li>' +
                        '<li><a class="HapusOrganisasiConfirm" dataID="' + d.id + '" href="#">Hapus</a></li>' +
                        '</ul>' +
                        '</td>' +
                        '</tr>';
                });
                
                $('#idTblBodyOrganisasi').append(vStrHtml);


                $('.UbahOrganisasi').click(function () {
                    var vDataID = parseInt($(this).attr('dataID'));
                    debugger;

                    $.ajax({
                        url: '/Organisasi/Edit',
                        data: { ID: vDataID },
                        method: 'Post',
                        success: function (mdl) {
                            $('#idBodyEditOrganisasi').empty();
                            $('#idBodyEditOrganisasi').append(mdl);
                            $('#idget').val(vDataID);
                            $('#idMdlEditOrganisasi').modal('show');
                            debugger;
                        },
                        error: function (mdl) {
                            debugger;
                        }
                    });
                });


                $('.HapusOrganisasiConfirm').click(function () {
                    var vDataID = parseInt($(this).attr('dataID'));
                    debugger;
                    $.ajax({
                        url: '/Organisasi/DeleteConfirm',
                        data: { ID: vDataID },
                        method: 'Post',
                        success: function (mdl) {
                            $('#idBodyHapusOrganisasi').empty();
                            $('#idBodyHapusOrganisasi').append(mdl);
                            $('#idget').val(vDataID);
                            $('#idMdlHapusOrganisasi').modal('show');
                            debugger;
                        },
                        error: function (mdl) {
                            debugger;
                        }
                    });
                });


                    
                //$('.HapusOrganisasi').click(function () {
                //    var vDataID = parseInt($(this).attr('dataID'));
                //    debugger;
                //    var r = confirm('anda yakin ingin menghapus data organisasi?');
                //    if (r == true) {
                //        $.ajax({
                //            url: '/Organisasi/Delete',
                //            data: { ID: vDataID },
                //            method: 'Post',
                //            success: function (mdl) {
                //                alert('Berhasil menghapus data organisasi');
                //                location.reload();
                //                debugger;
                //            },
                //            error: function (mdl) {
                //                debugger;
                //            }
                //        });
                //    }
                //});

            },
            error: function (mdl) {
                debugger;
            }
        });

        $('#idBtnCreateOrganisasi').click(function () {
            $.ajax({
                url: '/Organisasi/Create',
                method: 'Get',
                data: { idBiodata: biodata_id },
                success: function (mdl) {
                    debugger;
                    $('#idBodyCreateOrganisasi').empty();
                    $('#idBodyCreateOrganisasi').append(mdl);

                    $('#idMdlCreateOrganisasi').modal('show');
                    debugger;
                },
                error: function (mdl) {
                    debugger;
                }
            });
        });

        $('#idBtnMdlCreateOrganisasi').click(function () {
            $.ajax({
                url: '/Organisasi/CreateIndex',
                method: 'Get',
                data: { idBiodata: biodata_id },
                success: function (mdl) {
                    debugger;
                    $('#idBodyMdlCreateOrganisasi').empty();
                    $('#idBodyMdlCreateOrganisasi').append(mdl);

                    $('#idIndexMdlCreateOrganisasi').modal('show');
                    debugger;
                },
                error: function (mdl) {
                    debugger;
                }
            });
        });

        //$(document).on("click", ".HapusOrganisasi", function () {
        //    var vDataID = parseInt($(this).attr('dataID'));
        //    debugger;
        //    var r = confirm("Anda Yakin Ingin Menghapus Data ??");
        //    if (r == true) {
        //        $.ajax({
        //            url: '/Organisasi/Delete',
        //            data: { ID: vDataID },
        //            method: 'Post',
        //            success: function (mdl) {
        //                alert('Berhasil Menghapus Data');
        //                location.reload();
        //                debugger;
        //            },
        //            error: function (mdl) {
        //                debugger;
        //            }
        //        });
        //    }
        //});

    });

</script>
